@keyframes slow-rotate{
  0%{transform:rotate(0deg)}
  100%{transform:rotate(360deg)}
}
@keyframes daycycle-fade{
  0%{filter:brightness(1)}
  30%{filter:brightness(1)}
  35%{filter:brightness(.2)}
  65%{filter:brightness(.2)}
  70%{filter:brightness(1)}
}
@keyframes walk-around{
  0%{top:255px;left:60px;}
  10%{top:255px;left:60px;}
  20%{top:275px;left:150px;}
  35%{top:260px;left:340px;}
  45%{top:260px;left:340px;}
  /* 70%{top:260px;left:255px;} */
  75%{top:260px;left:120px;}
  100%{top:255px;left:60px;}
}

body{
  --day-duration:20s;
  position:relative;
  background-color: black;
}
img{
  position:absolute;
  top:0;
  left:0;
  width:400px;
  height:400px;
  background-color: transparent;
}
img.sky{
  animation:var(--day-duration) slow-rotate infinite linear;
}
img.asteroid{
  animation:var(--day-duration) daycycle-fade infinite linear;
}
img.astro{
  width:16px;
  height:16px;
  top:255px;
  left:60px;
  animation:var(--day-duration) walk-around infinite linear;
}

@keyframes met-passage{
  0%{transform:translate(0,0)}
  30%{transform:translate(-500px,60px)}
  100%{transform:translate(-500px,60px)}
}
@keyframes ast-explode{
  0%{background-color: white; opacity:1;transform:scale(.25,.25);}
  100%{background-color: gray; opacity:0;transform:scale(1.3,1.3);}
}
.meteo-container{
  position:absolute;
  width:400px;
  height:400px;
  overflow: hidden;
}
.meteora{
  --ast-dim:10px;
  position:absolute;
  animation:6s met-passage infinite;
}
.meteora:nth-child(1){
  top:30px;
  left:450px;
  animation-delay: 8s;
}
.meteora:nth-child(2){
  top:250px;
  left:450px;
  animation-delay: 12s;
}
.meteora:nth-child(3){
  top:95px;
  left:450px;
  animation-delay: 22s;
}
.meteora .sbuffo{
  position:absolute;
  width:var(--ast-dim);
  height:var(--ast-dim);
  border-radius:50%;
  background-color: white;
  animation: .5s ast-explode infinite;
}
.meteora .sbuffo:nth-child(1){
  top:7px;
  left:9px;
}
.meteora .sbuffo:nth-child(2){
  top:5px;
  left:12px;
  animation-delay:.1s;
}
.meteora .sbuffo:nth-child(3){
  top:3px;
  left:20px;
  animation-delay:.2s;
}
.meteora .nucleo{
  position:absolute;
  top:9px;
  left:0;
  width:var(--ast-dim);
  height:var(--ast-dim);
  border-radius: 50%;
  background-color: white;
}